.main {
    display: flex;

    position: sticky;
    top: 0;

    z-index: 100;

    width: 100%;
    height: 75px;

    background: #D4D4D4;

    transition: background-color 0.3s ease;
}


/* =========================
   SECTION BO'YICHA NAVBAR RANGLARI
========================= */

.main.navbar-servise {
    background: #F5F5F5;
}

.main.navbar-products {
    background: #FFFFFF;
}

.main.navbar-new {
    background: #A5A5A5;
}

.main.navbar-ourblogs {
    background: #FFFFFF;
}

.main.navbar-contact {
    background: #222222;
}


/* =========================
   NAV
========================= */

.nav {
    font-size: 20px;

    width: 100%;

    display: flex;

    align-items: center;

    justify-content: space-between;
}


/* =========================
   LOGO
========================= */

.logo {
    height: 75px;
    width: 317px;
}


/* =========================
   MENU
========================= */

nav {
    display: flex;

    align-items: center;

    gap: 50px;
}

nav ul {
    display: flex;

    list-style-type: none;

    align-items: center;

    gap: 70px;
}

.nav a {
    text-decoration: none;

    color: black;
}


/* =========================
   ICONS
========================= */

.icons {
    padding: 0 30px;

    display: flex;

    gap: 40px;

    font-size: 20px;
}