.servise {
    background: #F5F5F5; 
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
    height: 740px;
}

.servise img {
    padding-top: 130px;
}

.Lubricants h3 {
    font-size: 36px;
    padding: 35px 0px;
}

.servise a{
    position: relative;
    display: inline-block;

    font-size:22px;
    text-decoration: none;
    color: black;

    padding: 10px 5px;
}

.Spare-Parts h3 {
    font-size: 36px;
    padding: 35px 0px;
}


.servise a::before {
    content: "";

    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 3px;

    background: black;
    border-radius: 50px;

    transform: scaleX(0);
    transform-origin: center;

    transition: transform 0.3s ease;
}

.servise a:hover::before {
    transform: scaleX(1);
}
