@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&display=swap');

.my_accaunt_login {
    font-family: "Roboto", sans-serif;

    display: grid;
    grid-template-columns: 1fr 1fr;

    padding: 70px 180px;
    gap: 50px;

    align-items: start;
}


/* =========================
   LOGIN
========================= */

.right-side form {
    display: flex;
    flex-direction: column;
}

.right-side h1 {
    font-size: 36px;
    font-weight: 500;
    margin: 0 0 30px;
}

.right-side form > label {
    font-size: 17px;
    margin-bottom: 8px;
}


/* LOGIN INPUT */

.right-side form > input {
    width: 430px;
    height: 60px;

    border: 1px solid #9F9F9F;
    border-radius: 8px;

    padding: 0 20px;
    box-sizing: border-box;

    font-size: 20px;

    margin-bottom: 20px;
}


/* =========================
   REMEMBER ME
========================= */

.name {
    display: flex;
    align-items: center;

    gap: 8px;

    margin-bottom: 25px;
}

.name input[type="checkbox"] {
    width: 18px;
    height: 18px;

    margin: 0;
    padding: 0;
}

.name .remember-me {
    font-size: 16px;
    margin: 0;
}


/* =========================
   LOGIN BUTTON
========================= */

.right-side form > span:last-child {
    display: flex;
    align-items: center;

    height: 64px;
}

.right-side button {
    width: 220px;
    height: 64px;

    background: white;
    color: black;

    border: 1px solid black;
    border-radius: 10px;

    font-size: 20px;

    cursor: pointer;

    transition: 0.3s;
}

.right-side a {
    padding-left: 20px;

    font-size: 16px;

    color: black;
    text-decoration: none;
}


/* =========================
   REGISTER
========================= */

.left-side {
    padding-left: 0;
}

.left-side form {
    display: flex;
    flex-direction: column;
}

.left-side h1 {
    font-size: 36px;
    font-weight: 500;

    margin: 0 0 30px;
}

.left-side form > label {
    font-size: 17px;
    margin-bottom: 8px;
}


/* REGISTER INPUT */

.left-side form > input {
    width: 430px;
    height: 60px;

    border: 1px solid #9F9F9F;
    border-radius: 8px;

    padding: 0 20px;
    box-sizing: border-box;

    font-size: 20px;

    margin-bottom: 8px;
}


/* =========================
   REGISTER P
========================= */

.left-side p {
    width: 430px;

    font-size: 16px;
    line-height: 1.3;
    font-weight: 100;

    text-align: justify;
    margin: 12px;
}


/* =========================
   REGISTER BUTTON
========================= */

.left-side button {
    width: 220px;
    height: 64px;

    background: white;
    color: black;

    border: 1px solid black;
    border-radius: 10px;

    font-size: 20px;

    cursor: pointer;

    margin-top: 8px;

    transition: 0.3s;
}


/* =========================
   BUTTON HOVER
========================= */

.right-side button:hover,
.left-side button:hover {
    background: black;
    color: white;

    transform: translateY(-3px);
}